@mixin fluid-text ($min: 16, $max: 70) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
    text-decoration: none;
}
}

@mixin abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

@mixin reset-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}

@mixin flex-center($isInline: false) {
    @if isInline {
    display: inline-flex;
}   @else {
    display: flex;
}
    justify-content: center;
    align-items: center;
}