:root {

//   Цвета

   --color-dark: #000000;
   --color-dark-alt: #0D0D0D;
   --color-gray: #191919;
   --color-gray-alt: #4F4F4F;
   --color-whight: #FFFFFF;
   --color-orange: #df610c;

   // Контейнер

   --container-width: 1170px;
   --container-padding-x: 20px;

   // Кнопки

   --section-padding-y: 130px;
   --button-height: 68px;

   // Скругления

   --border-radius: 40px;

   // Анимации

   --transition-duration: 0.4s;

}