@import

'normalize',
'fonts',
'mixins',
'media',
'variables',
'utils',
'globals';

@import 

'blocks/header',
'blocks/button',
'blocks/burger-button',
'blocks/tablet-overlay',
'blocks/welcome',
'blocks/food',
'blocks/menu',
'blocks/card',
'blocks/statistics',
'blocks/franchisee',
'blocks/reviews',
'blocks/item',
'blocks/support',
'blocks/location',
'blocks/soc1als',
'blocks/footer'



