.burger__button  {
    @include square(30px);
    @include reset-button;
    position: relative;
    height: 40px;
    
    

    @include tablet {
        order: -1;
    }

    @include mobile {
      position: absolute;
      top: 140px;
    //  margin-bottom: -140px;
    }
  
    &-span {
        @include abs-center;
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--color-whight);
        border-radius: 5px;
           
      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--color-whight);
        left: 0;
      }

      &::after {
        top: 10px;
      }

      &::before {
        bottom: 10px;
      }
    }
}