.button {
  background-color: var(--color-whight);
  padding: 20px 34px;
  height: 68px;
  border-radius: 40px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 18px;
  border: none;
  background: linear-gradient(90deg, #df610c 50%, var(--color-whight) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition-duration: var(--transition-duration);
  user-select: none;

  &:hover {
    scale: 1.02;
    background-position: left;
  }
}
