.card {
    padding: 20px;
    max-width: 370px;
    height: auto;
    background-color: var(--color-gray);
    border-radius: 12px;

    &:hover {
        scale: 1.03;
        transition: var(--transition-duration);
    }


    &__image {
        padding-bottom: 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__title {
      &-name:hover {
        color: var(--color-orange);
    }
    }
    

    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-size: 24px;
        font-weight: bold;
    }

    &__basket {
        transition: var(--transition-duration);
        stroke: var(--color-whight);
       
           &:hover {
            scale: 1.05;
            stroke: #df610c;
        }
    }
}