.franchisee {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 30px;
   padding-block: var(--section-padding-y);
   padding-top: 0;

   @include tablet {
    --section-padding-y: 90px;
    row-gap: 20px;
   }
   

   &__title {
     max-width: 880px;
     width: 100%;
     text-align: center;
     line-height: 1.4;
   }

   &__body {
     @include flex-center(true);
     flex-direction: column;
     row-gap: 60px;

     @include mobile {
        row-gap: 30px;
     }
   }

   &__description {
    @include fluid-text(14, 20);
    text-align: center;
   }

   &__button {
    width: 294px;

    @include mobile {
      width: 280px;
    }
   }

}
