.location {
  padding-block: var(--section-padding-y);

  @include tablet {
    --section-padding-y: 90px;
  }

  &__wrapper {
    display: flex;

    @include laptop {
      flex-direction: column;
      align-items: center;
      row-gap: 80px;
    }
  }

  &__body {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include desktop {
      max-width: 500px;
    }

    @include laptop {
      align-items: center;
      max-width: 600px;
    }

    @include tablet {
        max-width: 400px;
    }

    @include mobile {
        max-width: 280px;
        text-align: center;
    }

    &-title {
      line-height: 1.4;
    }

    &-description {
      font-size: 20px;
      padding-bottom: 70px;
      white-space: wrap;

      @include tablet {
        font-size: 16px;
        padding-bottom: 50px;
      }

      @include mobile {
        font-size: 14px;
        padding-bottom: 30px;
        
      }
    }
  }

  &__button {
    width: 340px;
    // margin: 0 auto; 
    
    @include tablet {
        width: 400px;
  }

    @include mobile {
        width: 280px;
        padding: 17px 38px;
        font-size: 16px;
    }
  }

  &__wrap {
     margin-left: auto;

    @include laptop {
      margin: 0 auto; // сделать отступ с центрированием
    }
  }

  &__iframe {
    @include square(480px); 

    @include laptop {
      @include square(400px);
    }

    @include mobile {
       width: 280px;
       height: 470px;
    }
  }
}
