.tablet-overlay {
    position: relative;
    width: 40%;
    min-height: 100vh;
    border: none;
    margin-left: 0;
    margin-block: 0;
    // background-color: transparent;
   

    @include mobile {
        width: 100%;
        max-width: 100vw;
    }
    
    &__close-button {
        @include square(30px);
        @include reset-button;
        position: absolute;
        top: 35px;
        left: 20px;
        height: 40px;
        
        &::after,
        &::before {
         @include abs-center;
         content: '';
         width: 100%;
         height: 3px;
         background-color: var(--color-dark);
         border-radius: 5px;
        }

        &::after {
            rotate: 45deg;
        }

        &::before {
            rotate: -45deg;
        }

        @include mobile {
            // margin-top: 50px;
            top: 140px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-top: 250px;
        row-gap: 100px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }

    &-magnifier {
        position: absolute;
        top: 35px;
        right: 20px;

        @include mobile {
            top: 140px;
        }
    }
   

    &-button {
        color: var(--color-whight);
        background-color: var(--color-dark);
        max-width: 280px;
        display: flex;
        align-items: center;
    }

}